apiVersion: v1
kind: Service
metadata:
  name: {{ name }}-rstudio-service
  labels:
    component: rstudio
    rstudio: {{ name }}
spec:
  type: NodePort
  selector:
    component: rstudio
    rstudio: {{ name }}
  ports:
  - protocol: TCP
    port: 8787
    targetPort: 8787
