apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ name }}-rstudio-statefulset
  labels:
    component: rstudio
    rstudio: {{ name }}
spec:
  serviceName: {{ name }}-rstudio-service
  replicas: 1
  selector:
    matchLabels:
      component: rstudio
      rstudio: {{ name }}
  template:
    metadata:
      labels:
        component: rstudio
        rstudio: {{ name }}
    spec:
      containers:
      - name: rstudio
        image: {{ spec.image }}
        imagePullPolicy: {{ spec.imagePullPolicy }}
        ports:
        - name: rstudio-ui
          containerPort: 8787
        {% if spec.resources %}
        resources:
          {% if spec.resources.requests %}
          requests:
            cpu: {{ spec.resources.requests.cpu }}
            memory: {{ spec.resources.requests.memory }}
          {% endif %}
          {% if spec.resources.limits %}
          limits:
            cpu: {{ spec.resources.limits.cpu }}
            memory: {{ spec.resources.limits.memory }}
          {% endif %}
        {% endif %}
        env:
        - name: PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ name }}-rstudio-secret
              key: loginPassword
        - name: ROOT
          value: "{{ spec.isRoot | string | lower }}"
        volumeMounts:
        - name: vol
          mountPath: /data
  volumeClaimTemplates:
  - metadata:
      name: vol
    spec:
      accessModes: ["ReadWriteMany"]
      storageClassName: standard
      resources:
        requests:
          storage: 1Gi
  persistentVolumeClaimRetentionPolicy:
    whenDeleted: Delete
    whenScaled: Retain
